* { box-sizing: border-box; }

html, body { height: 100%; }

body {
  margin: 0;
  font-family: "Montserrat", system-ui, sans-serif;
  background: #fff;
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 24px;
}

.section-title {
  font-size: 30px;
  text-align: center;
  margin: 70px 0 10px;
  letter-spacing: 6px;
  color: rgb(222, 157, 27);
}

.section-title::after {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: 35%;
  width: 30%;
  height: 3px;
  background-color: #eab166;
  border-radius: 2px;
}

.page[hidden] {
  display: none;
}
