
.contact-section {
  background-color: white;
  color: #eee;
  padding: 4rem 2rem;
  text-align: center;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.form-group label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #f5c518;
}

.contact-form input,
.contact-form textarea {
  padding: 0.75rem;
  border: 1px solid rgb(223, 175, 119);
  border-radius: 4px;
  background-color: white;
  color: #090909;
  font-family: inherit;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #f5c518;
  outline: none;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(222, 157, 27);
  position: relative;
  padding: 18px 20px;
  font-size: 1.2em;
  color: #0b0909;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  letter-spacing: 1px;

  transition: color 0.3s ease;
  box-shadow: inset 0 0 10px rgba(83, 58, 9, 0.1),
    0 0 15px rgba(0,0,0,0.6);
}

.submit-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -100%;
  width: 200%;

  background: linear-gradient(
    120deg,
    rgba(0,255,255,0),
    rgba(255,162,0,0.45),
    rgba(255,221,0,0.9),
    rgba(255,162,0,0.45),
    rgba(0,255,255,0)
  );

  transform: skewX(-15deg);
  animation: flow 1.5s ease-in-out infinite;
  opacity: 0;
}

.submit-btn span {
  position: relative;
  z-index: 2;
}

.submit-btn:hover::before {
  opacity: 1;
}

.submit-btn:hover {
  color: #0e0d0d;
  font-weight: 800;
}

@keyframes flow {
  0%   { left: -100%; }

  50%  { left: 0%; }

  100% { left: 100%; }
}

.page[hidden] {
  display: none;
}
