.contact {
  padding: 40px 0;

  .contact-form {
    display: grid;
    gap: 12px;
    max-width: 600px;

    input, textarea {
      width: 100%;
      padding: 10px 14px;
      border: 1px solid #ccc;
      font-size: 15px;
      font-family: inherit;
    }

    button {
      padding: 10px ;
      background: var(--accent);
      color: #fff;
      border: none;
      cursor: pointer;
      text-transform: uppercase;
      letter-spacing: 2px;
      transition: 0.3s;

      &:hover {
        opacity: 0.85;
        color: #e38706;
      }
    }
  }
}
