

.site-footer {
  color: #fff;
  font-size: 14px;
}

/* tło ze zdjęciem */
.footer-bg {
  position: relative;
  min-height: 320px; /* kontrola wysokości */
  background-image: url('../images/about-us.jpg ');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* overlay */
.footer-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
}

/* content */
.footer-content {
  position: relative;
  z-index: 1;
  padding: 80px 0 60px;
  max-width: 600px;
}

.footer-title {
  letter-spacing: 6px;
  color: var(--accent);
  margin-bottom: 24px;
  position: relative;       /* potrzebne, żeby ::after ustawić względem tekstu */
  display: inline-block; 
}

.footer-title::after {
  content: "";              /* tworzymy pusty pseudo-element */
  position: absolute;
  left: 0;
  bottom: -5px;             /* odstęp od tekstu */
  width: 100%;              /* szerokość = szerokość tekstu */
  height: 3px;              /* grubość paska */
  background-color: #eab166; /* kolor paska */
  border-radius: 2px;       /* zaokrąglenie */
}


.footer-content p {
  line-height: 1.6;
  opacity: 0.9;
}

.footer-cta {
  margin-top: 24px;
  font-style: italic;
}


/* dolny pasek */
.footer-bottom {
  display: flex;
  justify-content: center;   /* wyśrodkowanie */
  gap: 50px;                 /* odstęp między ikonami */
  margin-top: 10px;
  padding-bottom: 10px;
}

.footer-bottom .social-link {
  //padding: 20px 0;
  font-size: 2rem;           /* rozmiar ikon */
  color: #4a4848;               /* kolor bazowy (np. biały) */
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-bottom .social-link:hover {
  transform: scale(1.3);     /* powiększenie przy najechaniu */
}

/* Kolory naturalne dla każdej ikony */
.footer-bottom .facebook:hover {
  color: #1877f2;            /* Facebook niebieski */
}

.footer-bottom .youtube:hover {
  color: #ff0000;            /* YouTube czerwony */
}

.footer-bottom .tiktok:hover {
  /* TikTok ma gradientowy styl, można zasymulować kolory */
  background: linear-gradient(45deg, #25f4ee, #fe2c55);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

