.site-header {
  position: fixed;
  inset: 0 0 auto 0;
  padding: 22px 0;
  background: transparent;
  z-index: 60;


  .header-inner {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .brand__title {
    color: #fff;
    letter-spacing: 6px;
    font-weight: 700;
  }

  .site-nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 28px;
    font-weight: 500;
  }
}

@media (max-width: 1100px) {
  .header-inner {
    padding: 0 16px;
  }
}
