.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: transparent;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand__title {
  color: white;
}

.brand__sub {
  color: white;
}

.site-nav {
  display: flex;
  gap: 28px;
}

.site-nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

//HAMBURGER 

.nav-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 200;
}

.nav-toggle span {
  display: block;
  width: 26px;
  height: 2px;
  margin: 6px 0;
  background: white;
  transition: 0.3s;
}

// MOBILE 

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
    position: relative;
    z-index: 300;
  }

  .site-nav {
    position: absolute;
    top: 100%;
    right: 24px;

    background: #0d0b0a;
    border-radius: 12px;
    padding: 16px 20px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    min-width: 180px;

    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;

    transition: opacity 0.25s ease, transform 0.25s ease;
  }

  .site-nav.is-open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .site-nav a {
    font-size: 1rem;
    color: #fff;
    white-space: nowrap;
  }

  //  hamburger 
  .nav-toggle.is-open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .nav-toggle.is-open span:nth-child(2) {
    opacity: 0;
  }

  .nav-toggle.is-open span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
