.hero {
  height: 78vh;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-inner {
    color: #af7f52;

    .hero__title {
      font-size: 64px;
      line-height: 0.95;
      letter-spacing: 6px;
      max-width: 500px;
    }

    .btn {
      display: flex;
      padding: 10px 10px;
      //border: 1px solid rgba(255,255,255,0.9);
      //border-radius: 50%;
      color: #fff;
      text-decoration: none;
      margin: 28px 20px;
      transition: 0.3s;
      align-items: center;
      justify-content: center;

      &:hover {
        //background: rgba(255,255,255,0.15);
        color: #de7616;
      }
    }
  }
}

@media (max-width: 1100px) {
  .hero .hero__title {
    font-size: 44px;
  }
}
