.hero {
  height: 78vh;
  background-image: url('../images/background.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-inner {
    color: #b67334;
    //position: relative;       /* potrzebne, żeby ::after ustawić względem tekstu */
    //display: inline-block; 

    .hero__title {
      font-size: 64px;
      line-height: 0.95;
      letter-spacing: 6px;
      position: relative;       /* potrzebne, żeby ::after ustawić względem tekstu */
      display: inline-block;    /* żeby pasek dopasował się do szerokości tekstu */
    }

    .hero__title::after {
      content: "";              /* tworzymy pusty pseudo-element */
      position: absolute;
      left: 25%;
      bottom: -5px;             /* odstęp od tekstu */
      width: 50%;              /* szerokość = szerokość tekstu */
      height: 3px;              /* grubość paska */
      background-color: #b67334; /* kolor paska */
      border-radius: 2px;       /* zaokrąglenie */
    }
  }
}


@media (max-width: 1100px) {
  .hero .hero__title {
    font-size: 44px;
  }
}

.flow-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  padding: 18px 20px;
  font-size: 1.2em;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
  letter-spacing: 1px;

  transition: color 0.3s ease;
  box-shadow: inset 0 0 10px rgba(83, 58, 9, 0.1),
    0 0 15px rgba(0,0,0,0.6);
}

.flow-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -100%;
  width: 200%;

  background: linear-gradient(
    120deg,
    rgba(0,255,255,0),
    rgba(255,162,0,0.45),
    rgba(255,221,0,0.9),
    rgba(255,162,0,0.45),
    rgba(0,255,255,0)
  );

  transform: skewX(-15deg);
  animation: flow 1.5s ease-in-out infinite;
  opacity: 0;
}

.flow-btn span {
  position: relative;
  z-index: 2;
}

.flow-btn:hover::before {
  opacity: 1;
}

.flow-btn:hover {
  color: #f3f0ee;
  font-weight: 800;
}

@keyframes flow {
  0%   { left: -100%; }

  50%  { left: 0%; }

  100% { left: 100%; }
}
