.products-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.product-card:nth-child(even) {
  direction: rtl;

  .product-content {
    direction: ltr;
  }
}

.product-image {
  width: 100%;
  display: block;
  box-shadow: 0 20px 40px rgba(0,0,0,.25);
}

.product-name {
  font-size: 1.2rem;
  letter-spacing: 2px;
}


.product-description {
  margin: 1rem 0;
  color: #555;
}

.product-meta {
  display: flex;
  gap: 2rem;
  font-size: .85rem;
  margin-top: 1rem;
  justify-content: center;
}

.product-badge {
  display: inline-block;
  margin-top: 1.5rem;
  padding: .4rem 1rem;
  border: 1px solid #c19807;
  color: #c19807;
  font-size: .75rem;
  text-transform: uppercase;
}

/* MOBILE */
@media (max-width: 1480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }

  .product-card img {
    width: 100%;
    height: 220px;
  }

  .product-card {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 550px) {
  .products-grid {
    grid-template-columns: 1fr;
  }

  .product-card {
    grid-template-columns: 1fr;
    direction: ltr !important;
  }

  .product-image {
    margin-bottom: 1.5rem;
  }
}

.page[hidden] {
  display: none;
}
